doctype html
html  
  head
    title= "Hey hey hey!"
  body
    h1= "Yo yo yo!"
    form(name="urlForm", id="urlForm", method="POST", action="/")
        input(type='text', name='url',  placeholder='Pose ton flow')
        input(type='submit',  placeholder='Pose ton flow')